
#q1  {
  background-image: url("images/program.jpg");
       
}
#q2  {
  background-image: url("images/input.jpg");
}

#q3  {
  background-image: url("images/html.jpg");
    
}
 
#q4 {
  background-image: url("images/endtag.png")
      }

#q5 {
    background-image:url("images/javascript.gif")
        
        }

#q6 {
    background-image:url("images/css.png")
        }

#q7 {
    background-image:url("images/internal.jpg")
        }

#q8 {
    background-image:url("images/js.jpg")
        }

#q9 {
    background-image:url("images/software.jpg")
        }

#q10 {
    background-image:url("images/operating.jpg")
        }
#finalpage {
    background-image:url("images/final.jpg")
        }