
#q1  {
  background-image: url("program.jpg");
       
}
#q2  {
  background-image: url("input.jpg");
}

#q3  {
  background-image: url("html.jpg");
    
}
 
#q4 {
  background-image: url("endtag.png")
      }

#q5 {
    background-image:url("javascript.gif")
        
        }

#q6 {
    background-image:url("css.png")
        }

#q7 {
    background-image:url("internal.jpg")
        }

#q8 {
    background-image:url("js.jpg")
        }

#q9 {
    background-image:url("software.jpg")
        }

#q10 {
    background-image:url("operating.jpg")
        }
#finalpage {
    background-image:url("final.jpg")
        }
